.DS_Store
node_modules
/dist
FileContentIndex
v17

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vs
.vscode
*.suo
*.wsuo
*.ntvs*
*.njsproj
*.sln
*.sw?

/FinananceManagementLifesaver/bin/Debug/FinananceManagementLifesaver.exe
/FinananceManagementLifesaver/bin/Debug/FinananceManagementLifesaver.pdb
/FinananceManagementLifesaver/obj/Debug/FinananceManagementLifesaver.csproj.AssemblyReference.cache
/FinananceManagementLifesaver/obj/Debug/FinananceManagementLifesaver.csproj.CoreCompileInputs.cache
/FinananceManagementLifesaver/obj/Debug/FinananceManagementLifesaver.csproj.FileListAbsolute.txt
/FinananceManagementLifesaver/obj/Debug/FinananceManagementLifesaver.csproj.GenerateResource.cache
/FinananceManagementLifesaver/obj/Debug/FinananceManagementLifesaver.exe
/FinananceManagementLifesaver/obj/Debug/FinananceManagementLifesaver.pdb
/FinananceManagementLifesaver/obj/Debug//DesignTimeResolveAssemblyReferencesInput.cache
/FinananceManagementLifesaver/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FinananceManagementLifesaver/obj/Debug/netcoreapp3.1
/FinananceManagementLifesaver/obj/Release/netcoreapp3.1
*.cache